<app-header 
[navbarBrandRouterLink]="['/home']" 
[fixed]="true" 
[asideMenuToggler]=false 
[sidebarToggler]="'lg'" 
[asideMenuToggler]="'lg'">
</app-header>




<div class="app-body">
  <app-sidebar 
  [fixed]="true" 
  [display]="'lg'">
    <app-sidebar-nav 
    [navItems]="navItems"
    [perfectScrollbar] 
    [disabled]="sidebarMinimized" ></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
 
  <main class="main"> 
 
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
 </main>
</div>

<app-footer>
  <span><a href="{{footerLink}}">Stefani Totokotsopoulou</a> &copy; {{projectYear}}.</span>
  <span class="ml-auto">Powered by <a href="{{footerLink}}">CoreUI</a></span>
</app-footer>