<div *ngFor="let field of field.fieldGroup; let i = index;">
  <formly-group [model]="model[i]" [field]="field" [options]="options" [form]="formControl">

    <!-- <button class="btn btn-danger" type="button" (click)="remove(i)">Remove</button> -->

    <div class="card col-12">
      <div class="card-header">
        <div class="row">
          <div class="col "> 
            <label> {{model[i].name}}</label>
       
          </div>
          <div class="col col-1">
            <button class="btn btn-primary " type="button" *ngIf="MyArrayType[i]" (click)="toggle(i)">
              <i class="fa fa-arrow-right"></i>
            </button>
            <button class="btn btn-primary " type="button" *ngIf="!MyArrayType[i]" (click)="toggle(i)">
              <i class="fa fa-arrow-down"></i>
            </button>
          </div>
        </div>
      </div>

     
      <div class="card-body" *ngIf="VisualizaForm[0][i]">
        <label>  {{model[i].description}}</label>
      </div>
      <div class="card-body" *ngIf="VisualizaForm[1][i]">
        <label> {{model[i].description}}</label>
      </div>


      <!-- 


      <ng-container *ngTemplateOutlet="loading" #container>
        <div class="card-body">
          <p>content one</p>
        </div>
        <div class="card-body">
          <p>content two</p>
        </div>
      </ng-container> -->

    </div>


  </formly-group>
</div>
<div style="margin:30px 0;">
  <button class="btn btn-primary" type="button" (click)="add()">{{field.fieldArray.templateOptions.btnText}}</button>
</div>
